@import 'bourbon';
@import 'neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

$sidebar-width: 300px;
$header-height: 50px;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}

.contentWrapper {
  margin-top: $header-height;
}

.nav {
  height: 50px;
  background: #5D6B76;
  border-bottom: 1px solid #4B5760;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
  padding: 0 10px;
  display: inline-block;
  line-height: 49px;
  height: 100%;
  border-left: 1px solid #6F7B85;
  border-right: 1px solid #4B5760;

  &:hover {
    background-image: linear-gradient(#518FF5, #6DABF7);
    border-left: 1px solid transparent;
  }
}

.recipesList {
  list-style: none;
}

.recipeContainer {
  margin-bottom: 60px;
}

.recipeContainer p {
  display: inline-block;
}

.recipeContainer h2 {
  margin: 0;
}

.recipeAdjustmentForm {
  display: inline-block;
}

.recipeAdjustmentForm p {
  font-style: italic;
}

.adjustmentNumberInput {
  width: 50px;
}

.adjustmentSubmit {
  margin: 10px;
  background-image: linear-gradient(#FFFFFF, #EDEDED);
  border: 1px solid #BDBEC0;
  border-radius: 3px;
  padding: 5px;
}

.ingredientsList {
  list-style: none;
  padding: 0;
}

.ingredientInfo {
  margin: 5px;
}

.adjustmentRadioContainer {
  display: inline-block;
  position: relative;
  top: 15px;
  margin: 5px;
  text-align: center;
  color: #B2B2B2;
}

.adjustmentRadioInput {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.adjustmentRadioContainer p {
  margin: 0;
  font-style: normal;
  font-size: .7rem;
}

.americaImg {
  height: 200px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background: #37434C;
  margin-top: $header-height;
}

.content {
  margin: $header-height 0 0 $sidebar-width;
}

.searchResultsInfo {
  display: inline-block;
  margin-right: 10px;
}
